$theme-primary-green: (
  50: #e1f0e8,
  100: #b3d9c7,
  200: #80c0a1,
  300: #4da67b,
  400: #27935f,
  500: #018043,
  600: #01783d,
  700: #016d34,
  800: #01632c,
  900: #00501e,
  A100: #83ffa4,
  A200: #50ff7e,
  A400: #1dff59,
  A700: #03ff46,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$theme-accent-green: (
  50: #ebf5e5,
  100: #cde6be,
  200: #acd593,
  300: #8ac468,
  400: #71b847,
  500: #58ab27,
  600: #50a423,
  700: #479a1d,
  800: #3d9117,
  900: #2d800e,
  A100: #c3ffb2,
  A200: #9cff7f,
  A400: #75ff4c,
  A700: #61ff32,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$theme-accent-orange: (
  50: '#fff8e1',
  100: '#ffebb2',
  200: '#fede81',
  300: '#fed24d',
  400: '#fdc725',
  500: '#fdbe00',
  600: '#fdb000',
  700: '#fd9d00',
  800: '#fd8c00',
  900: '#fd6c00',
  A100: #fdc725,
  A200: #fdb000,
  A400: '#fdc725',
  A700: #fd6c00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$theme-warn-red: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
